/* Write your CSS here */
.team-card {
  background-color: #ffffff33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border: 1px solid #ffffff;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.link {
  text-decoration: none;
}
.img {
  width: 55px;
  height: 55px;
  margin-right: 20px;
}
.name {
  color: #ffffff;
  font-size: 20px;
}
